- for article in articles[0...3]
  %section.grid_10.alpha.omega
    .grid_3.alpha
      %h1
        %a{:href => article.path}= article.title
    .grid_7.omega
      = article.body
      %p.meta
        %a{:href => article.path << '#disqus_thread', 'data-disqus-identifier' => article.path} View Comments
    .clear
  .clear
.grid_10.alpha.omega= archives[3..-1]
.clear
