- articles.each do |article|
  %section.grid_10.alpha.omega
    .grid_3.alpha
      %h1
        %a{:href => article.path}= article.title
    .grid_7.omega
      = article.body
      %p.meta
        %a{:href => article.path << '#disqus_thread', 'data-disqus-identifier' => article.path} View Comments
    .clear
  .clear
%section.grid_10.alpha.omega#pagination
  .grid_5.alpha
    - unless next_page_number.nil?
      %a{:href => "/page/#{ next_page_number }"} &#x2190; Older
    &nbsp;
  .grid_5.omega
    &nbsp;
    - unless prev_page_number.nil?
      %a{:href => "/page/#{ prev_page_number }"} Newer &#x2192;
  .clear
.clear
