@import "reset";
@import "960_12_col";

$gap: 20px;
$space: 1*80px - 20px;

$footer: #333;

body {
  background-color: #fff;
}

#header {
  img {
    margin-top: $space;
    margin-bottom: $space;
  }
}

#content {
  section {
    margin-bottom: $space;
  }
}

#footer {
  padding-top: $gap;

  section {
    margin-bottom: $gap;

    h1 {
      margin-bottom: 1em;
    }
  }

  background-color: $footer;
  color: lighten($footer, 20%);

  a {
    color: lighten($footer, 40%);
    text-decoration: none;

    &:hover {
      color: lighten($footer, 60%);
    }
  }
}
