// CSS reset
@import "reset";

// 960 Grid System
@import "960_12_col";

// Universal sizes
$gap: 20px;
$space: 1*80px - 20px;

// Colors
$body: #fff;
$footer: #333;

// Google Web Fonts configuration:
//   http://www.google.com/webfonts#UsePlace:use/Collection:Ubuntu+Mono|Lato:100|Ubuntu:300
// Usage:
//   font-family: 'Ubuntu Mono', sans-serif;
//   font-family: 'Lato', sans-serif; font-weight: 100;
//   font-family: 'Ubuntu', sans-serif; font-weight: 300;

// Main

body {
  background-color: $body;
  color: darken($body, 40%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 11pt;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h1,
h1 a,
h1 a:hover,
h2 {
  color: darken($body, 100%);
}

a {
  text-decoration: none;
  color: darken($body, 80%);

  &:hover {
    color: darken($body, 100%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div.highlight {
  margin-bottom: 1em;
}

pre, code {
  font-family: 'Ubuntu Mono', sans-serif;
}

code {
  background-color: darken($body, 5%);
  padding: 0 3pt 1pt 3pt;
  border-radius: 3px;
}

blockquote {
  margin-left: (11pt/2);
  padding-left: (11pt/2);
  border-left: 1px solid darken($body, 10%);
  background-color: darken($body, 2%);
}

.gapped-left {
  margin: $gap 0 $gap $gap;
}

.gapped-right {
  margin: $gap $gap $gap 0;
}

#header {
  img {
    margin-top: $space;
    margin-bottom: $space;
  }
}

#content {
  section {
    margin-bottom: $space;
  }

  h1 {
    text-align: right;
    margin-top: -(32px/8);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .meta {
    a {
      float: right;
      background-color: darken($body, 5%);
      color: darken($body, 40%);
      border-radius: 3px;
      padding: 1px 5px;

      &:hover {
        background-color: darken($body, 10%);
        color: darken($body, 60%);
      }
    }
  }
}

#pagination {
  .omega {
    text-align: right;
  }
}

#comments {
  background-color: lighten($footer, 10%);
  border-top-left-radius: (11pt/2);
  border-top-right-radius: (11pt/2);
  color: lighten($footer, 35%);

  h2 {
    color: lighten($footer, 60%);
  }

  a {
    color: lighten($footer, 50%);

    &:hover {
      color: lighten($footer, 65%);
    }
  }
}

#archives {
  ul {
    list-style-type: none;

    li {
      margin-bottom: (11pt/2);
    }
  }
}

#footer {
  padding-top: $gap;
  background-color: $footer;
  color: lighten($footer, 15%);

  section {
    margin-bottom: $gap;
  }

  h1 {
    margin-bottom: (11pt/2);
    color: lighten($footer, 30%);
  }

  footer {
    font-size: smaller;
    text-align: right;
    margin-bottom: $gap;
  }

  a {
    color: lighten($footer, 30%);

    &:hover {
      color: lighten($footer, 45%);
    }
  }
}

#cse-search-form {
  margin-bottom: (11pt/2);
}
