// CSS reset
@import "reset";

// 960 Grid System
@import "960_12_col";

// Universal sizes
$gap: 20px;
$space: 1*80px - 20px;

// Colors
$body: #fff;
$footer: #333;

// Google Web Fonts configuration:
//   http://www.google.com/webfonts#UsePlace:use/Collection:Ubuntu+Mono|Ubuntu:300,500|Terminal+Dosis:200
// Usage:
//   font-family: 'Ubuntu Mono', sans-serif;
//   font-family: 'Terminal Dosis', sans-serif; font-weight: 200;
//   font-family: 'Ubuntu', sans-serif; font-weight: 300;
//   // strong                          font-weight: 500;

// Main

body {
  background-color: $body;
  color: darken($body, 50%);
}

body, td, th {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 11pt;
}

strong {
  font-weight: 500;
}

.instruction {
  font-weight: 500;
  background-color: darken($body, 5%);
  padding: 0 3pt 1pt 3pt;
  border-radius: 3px;
}

h1, h2, h3, h4 {
  font-family: 'Terminal Dosis', sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h1,
h1 a,
h1 a:hover,
h2,
h3,
h4 {
  color: darken($body, 50%);
}

a {
  text-decoration: none;
  color: darken($body, 70%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div.highlight,
blockquote,
iframe,
table {
  margin-bottom: 1em;
}

iframe {
  border-radius: 5px;
}

a {
  &:hover {
    color: darken($body, 100%);
  }
}

pre, code {
  font-family: 'Ubuntu Mono', sans-serif;
}

code {
  background-color: darken($body, 5%);
  padding: 0 3pt 1pt 3pt;
  border-radius: 3px;
}

blockquote {
  padding: 1em;
  border-radius: 5px;
  background-color: #272822;

  a {
    color: darken($body, 15%);

    &:hover {
      color: darken($body, 0%);
    }
  }
}

kbd {
  padding: 0 3pt 1pt 3pt;
  border-radius: 3px;
  white-space: nowrap;
  background-color: #EEE;
  border-top: solid 2px #CCC;
  border-right: solid 4px #AAA;
  border-bottom: solid 5px #888;
  border-left: solid 3px #BBB;
}

.gapped-left {
  margin: $gap 0 $gap $gap;
}

.gapped-right {
  margin: $gap $gap $gap 0;
}

#header {
  img {
    margin-top: $space;
    margin-bottom: $space;
  }
}

#content {
  section {
    margin-bottom: $space;
  }

  h1 {
    text-align: right;
    margin-top: -(32px/8);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ul, ol {
    margin-bottom: (11pt/2);
  }

  li {
    margin-left: 2em;
  }

  table {
    border-collapse: collapse;
  }

  td, th {
    border: 1px solid darken($body, 15%);
    padding: 3px;
  }

  th {
    background-color: darken($body, 5%);
  }

  .meta {
    a {
      float: right;
      background-color: darken($body, 5%);
      color: darken($body, 40%);
      border-radius: 3px;
      padding: 1px 5px;

      &:hover {
        background-color: darken($body, 10%);
        color: darken($body, 60%);
      }
    }
  }
}

#pagination {
  .omega {
    text-align: right;
  }
}

#comments {
  background-color: lighten($footer, 10%);
  border-top-left-radius: (11pt/2);
  border-top-right-radius: (11pt/2);
  color: lighten($footer, 35%);
  box-shadow: 0 0 12pt rgba(0,0,0,0.25);

  h2 {
    color: lighten($footer, 60%);
  }

  a {
    color: lighten($footer, 50%);

    &:hover {
      color: lighten($footer, 65%);
    }
  }
}

#archives {
  ul {
    list-style-type: none;

    li {
      margin-bottom: (11pt/2);
    }
  }
}

#footer {
  padding-top: $gap;
  background-color: $footer;
  color: lighten($footer, 15%);
  position: relative;
  z-index: 1;
  box-shadow: 0 0 48pt rgba(0,0,0,0.50);

  section {
    margin-bottom: $gap;
  }

  h1 {
    margin-bottom: (11pt/2);
    color: lighten($footer, 30%);
  }

  footer {
    font-size: smaller;
    text-align: right;
    margin-bottom: $gap;
  }

  a {
    color: lighten($footer, 30%);

    &:hover {
      color: lighten($footer, 45%);
    }
  }
}

#poweredby {
  ul {
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline;

    li {
      position: absolute;
    }
  }
}

#cse-search-form {
  margin-bottom: (11pt/2);
}
